/* Hanging Garland */

.garland{

position:absolute;

top:0;

left:50%;

transform:translateX(-50%);

width:100%;

max-width:900px;

z-index:5;

animation:swing 8s ease-in-out infinite;

}

/* Flowers */

.flower{

position:absolute;

z-index:6;

animation:float 5s ease-in-out infinite;

}

/* Top Left */

.flowerTL{

top:0;

left:0;

width:230px;

}

/* Top Right */

.flowerTR{

top:0;

right:0;

width:230px;

transform:scaleX(-1);

}

/* Bottom Left */

.flowerBL{

bottom:0;

left:0;

width:260px;

}

/* Bottom Right */

.flowerBR{

bottom:0;

right:0;

width:260px;

transform:scaleX(-1);

}

/* Floating Animation */

@keyframes float{

0%{

transform:translateY(0px);

}

50%{

transform:translateY(-10px);

}

100%{

transform:translateY(0px);

}

}

/* Garland Swing */

@keyframes swing{

0%{

transform:
translateX(-50%)
rotate(.5deg);

}

50%{

transform:
translateX(-50%)
rotate(-.5deg);

}

100%{

transform:
translateX(-50%)
rotate(.5deg);

}

}