.lightContainer{

position:absolute;

inset:0;

pointer-events:none;

overflow:hidden;

z-index:7;

}

/* -------------------------- */

.ray{

position:absolute;

bottom:15%;

left:50%;

transform-origin:bottom center;

background:linear-gradient(
to top,
rgba(255,240,180,.18),
transparent 85%
);

filter:blur(10px);

mix-blend-mode:screen;

animation:rayMove 8s ease-in-out infinite;

}

/* -------------------------- */

.ray1{

width:160px;
height:95%;

transform:
translateX(-50%)
rotate(-22deg);

animation-delay:0s;

}

.ray2{

width:140px;
height:90%;

transform:
translateX(-50%)
rotate(-8deg);

animation-delay:2s;

}

.ray3{

width:140px;
height:90%;

transform:
translateX(-50%)
rotate(8deg);

animation-delay:4s;

}

.ray4{

width:160px;
height:95%;

transform:
translateX(-50%)
rotate(22deg);

animation-delay:6s;

}

/* -------------------------- */

@keyframes rayMove{

0%{

opacity:.15;

}

50%{

opacity:.45;

}

100%{

opacity:.15;

}

}