.particles{

position:absolute;

inset:0;

overflow:hidden;

pointer-events:none;

z-index:8;

}

.particle{

position:absolute;

bottom:-30px;

width:5px;

height:5px;

border-radius:50%;

background:rgba(255,230,150,.9);

box-shadow:
0 0 8px rgba(255,220,130,.8),
0 0 15px rgba(255,220,130,.4);

animation:floatParticle linear infinite;

}

@keyframes floatParticle{

0%{

transform:
translateY(0)
translateX(0);

opacity:0;

}

10%{

opacity:1;

}

50%{

transform:
translateY(-45vh)
translateX(20px);

}

100%{

transform:
translateY(-110vh)
translateX(-20px);

opacity:0;

}

}