.welcome{

width:100vw;
height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#0c0c0c;

position:relative;

overflow:hidden;

}

.overlay{

position:absolute;

inset:0;

background:

radial-gradient(circle at center,

rgba(255,215,0,.12),

transparent 70%);

}

.content{

position:relative;

z-index:2;

text-align:center;

color:white;

}

.bismillah{

font-size:55px;

font-weight:normal;

margin-bottom:40px;

color:#d4af37;

}

.content h1{

font-size:52px;

font-family:"Cormorant Garamond",serif;

font-weight:400;

letter-spacing:3px;

}

.content span{

display:block;

font-size:36px;

margin:10px;

color:#d4af37;

}

.content p{

margin-top:20px;

letter-spacing:5px;

font-size:15px;

color:#ddd;

}

button{

margin-top:60px;

padding:18px 45px;

background:transparent;

border:1px solid #d4af37;

color:#d4af37;

font-size:15px;

letter-spacing:5px;

cursor:pointer;

transition:.4s;

}

button:hover{

background:#d4af37;

color:black;

}